<dialog id="groupUserModal" class="modal">
  <div class="modal-box w-11/12 max-w-7xl">
    <h3 class="font-bold text-lg" id="groupUserModalName">我是群名称</h3>
    <div class="divider divider-warning">成员列表</div>
    <table class="table table-zebra">
      <thead>
      <tr>
        <th>微信Id</th>
        <th>昵称</th>
        <th>是否群成员</th>
        <th>是否群主</th>
        <th>加群时间</th>
        <th>最后活跃时间</th>
        <th>退群时间</th>
        <th>是否跳过水群排行榜</th>
      </tr>
      </thead>
      <tbody id="groupUsers"></tbody>
    </table>
  </div>
</dialog>
