<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水群助手</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.14/dist/full.min.css" rel="stylesheet" type="text/css" />

    <link href="assets/css/index.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>

    <script src="assets/js/index.js"></script>
</head>
<body>
    <div class="p-5 space-y-5">
        <!-- 如果msg不等于success，显示alert -->
        {{ if ne .msg "success" }}
        <div role="alert" class="alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>{{ .msg }}</span>
        </div>
        {{ end }}

        <div role="tablist" class="tabs tabs-bordered">
            <input type="radio" name="friend_tab" role="tab" class="tab" aria-label="好友列表" />
            <div role="tabpanel" class="tab-content p-6">
                <!-- 循环好友列表 -->
                <table class="table table-zebra">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>微信Id</th>
                        <th>微信号</th>
                        <th>昵称</th>
                        <th>最后活跃时间</th>
                        <th>是否在通讯录</th>
                        <th>是否启用AI</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .friends }}
                    <tr>
                        <td>{{ .Wxid }}</td>
                        <td>{{ .CustomAccount }}</td>
                        <td>{{ .Nickname }}</td>
                        <td>
                            {{ if eq .LastActiveTime.IsNil true }}
                            无数据
                            {{ else }}
                            {{ .LastActiveTime }}
                            {{ end }}
                        </td>
                        <td>
                            {{ if eq .IsOk true }}
                            <div class="badge badge-info gap-2">
                                是
                            </div>
                            {{ else }}
                            <div class="badge badge-error gap-2">
                                否
                            </div>
                            {{ end }}
                        </td>
                        <td>
                            <label class="swap swap-flip {{ checkSwap .EnableAi }}">
                                <input type="checkbox" onclick="changeAiEnableStatus({{.Wxid}})"/>

                                <div class="swap-on">✔️已启用</div>
                                <div class="swap-off">❌已禁用</div>
                            </label>
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>

            <input type="radio" name="friend_tab" role="tab" class="tab" aria-label="群列表" checked/>
            <div role="tabpanel" class="tab-content p-6">
                <!-- 循环群列表 -->
                <table class="table table-zebra">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>群Id</th>
                        <th>昵称</th>
                        <th>最后活跃时间</th>
                        <th>是否在通讯录</th>
                        <th>是否启用AI</th>
                        <th>是否启用水群排行榜</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .groups }}
                    <tr>
                        <td>{{ .Wxid }}</td>
                        <td>{{ .Nickname }}</td>
                        <td>
                            {{ if eq .LastActiveTime.IsNil true }}
                            无数据
                            {{ else }}
                            {{ .LastActiveTime }}
                            {{ end }}
                        </td>
                        <td>
                            {{ if eq .IsOk true }}
                            <div class="badge badge-info gap-2">
                                是
                            </div>
                            {{ else }}
                            <div class="badge badge-error gap-2">
                                否
                            </div>
                            {{ end }}
                        </td>
                        <td>
                            <!-- EnableAi -->
                            <label class="swap swap-flip {{ checkSwap .EnableAi }}">
                                <input type="checkbox" onclick="changeAiEnableStatus({{.Wxid}})"/>

                                <div class="swap-on">✔️已启用</div>
                                <div class="swap-off">❌已禁用</div>
                            </label>
                        </td>
                        <td>
                            <!-- EnableChatRank -->
                            <label class="swap swap-flip {{ checkSwap .EnableChatRank }}">
                                <input type="checkbox" onclick="changeGroupRankEnableStatus({{.Wxid}})"/>

                                <div class="swap-on">✔️已启用</div>
                                <div class="swap-off">❌已禁用</div>
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-link" onclick="getGroupUsers({{.Wxid}})">查看群成员</button>
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <dialog id="groupUserModal" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="font-bold text-lg">我是群名称</h3>
            <table class="table table-zebra">
                <!-- head -->
                <thead>
                <tr>
                    <th>微信Id</th>
                    <th>昵称</th>
                    <th>是否群成员</th>
                    <th>最后活跃时间</th>
                    <th>退群时间</th>
                    <th>是否跳过水群排行榜</th>
                </tr>
                </thead>
                <tbody id="groupUsers">
                <tr>
                    <td>25984982106634049@openim</td>
                    <td>成员</td>
                    <td>true</td>
                    <td>2023-11-30 16:49:42</td>
                    <td>2023-11-30 16:49:42</td>
                    <td>
                        <input type="checkbox" class="toggle toggle-success" onclick="changeUserGroupRankSkipStatus()" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </dialog>
</body>
</html>