/* 隐藏滚动条 */
::-webkit-scrollbar {
    display: none;
}

/* 隐藏input输入数字时的箭头 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
